<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(notizia$ | async) as notizia">
    <ion-item lines="none">

        <ion-thumbnail [routerLink]="['/tabs/negozio',notizia.negozioResponse.id]" class="ion-radius-circle"
                       slot="start">
            <img [src]="'data:image/png;base64,' + notizia.negozioResponse.immagineprofilo " width="100%" height="100%"
                 alt="Image"/>
        </ion-thumbnail>
        <ion-text class="text12 text-dark font-6">
            <a [routerLink]="['/tabs/negozio',notizia.negozioResponse.id]">{{notizia.negozioResponse.nome}}</a>
        </ion-text>

        <ion-item slot="end" lines="none" class="activated" (click)="miPiace(notizia)" *ngIf="(utente$ | async) as utente" [hidden]="!(utente.ruolo === 'base' || utente?.negozio.id != notizia.negozioResponse.id)"  >
            <ion-text>   {{notizia.numeroPiace }} </ion-text>
            <ion-icon color="danger" size="large"
                      [name]="notizia.piace ? 'heart' :'heart-empty'">
            </ion-icon>
        </ion-item>
            <ion-item slot="end" lines="none" (click)="modificaNotizia(notizia)" *ngIf="(utente$ | async) as utente" [hidden]="(utente.ruolo === 'base' || utente?.negozio.id != notizia.negozioResponse.id)">
                <ion-icon name="more" size="large"></ion-icon>
            </ion-item>

    </ion-item>
    <ion-slides>
        <ion-slide>
            <img [src]="'data:image/png;base64,' + notizia.immagine " width="100%" height="100%" alt="Image"/>
        </ion-slide>
    </ion-slides>


    <ion-item lines="none">
        <ion-text class="text1 text-dark">

            <div><h3 class="text-secondary">{{notizia.titolo}}</h3>
                <h3>{{notizia.descrizione}}</h3></div>
        </ion-text>
    </ion-item>
</ion-content>
