<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-title>{{'IMPOSTAZIONI_TAB' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <h3 class="ion-text-center">{{'LINGUA' | translate}}</h3>
    <ion-select placeholder="{{ 'SELEZIONA_LINGUA' | translate}}" (ionChange)="changeLanguage($event)">
        <ion-select-option value="it">Italiano</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
    </ion-select>

    <ion-list>
        <ion-button *ngIf="(utente$ | async) as utente" [hidden]="(utente.ruolo === 'negoziante')" size="medium"
                    shape="round" id="aggiunginegozio" (click)="aggiungiNegozio()" color="tertiary" expand="block">
            <ion-icon slot="start" size="medium" name="add-circle-outline"></ion-icon>
            <ion-label>{{'AGGIUNGI_NEGOZIO' | translate}}</ion-label>
        </ion-button>

        <ion-button size="medium" shape="round" color="primary" (click)="logout()" id="logout"
                    [hidden]="!(this.utenteService.isLogged() | async)" expand="block">
            <ion-icon size="medium" name="log-out"></ion-icon>
            <ion-label> {{'ESCI' | translate}} </ion-label>
        </ion-button>
        <p>
            <ion-button size="medium" shape="round" color="primary" id="login" (click)="login()"
                        [hidden]="(this.utenteService.isLogged()| async)" expand="block">
                <ion-icon size="medium" name="log-in"></ion-icon>
                <ion-label>{{'ACCEDI' | translate}}</ion-label>
            </ion-button>
        </p>
        <ion-button *ngIf="(utente$ | async) as utente" [hidden]="!(utente.ruolo === 'negoziante')" size="medium"
                    shape="round" id="eliminanegozio" (click)="eliminaNegozio()" color="tertiary" expand="block">
            <ion-icon slot="start" size="medium" name="remove-circle-outline"></ion-icon>
            <ion-label>{{'ELIMINA_NEGOZIO' | translate}}</ion-label>
        </ion-button>


    </ion-list>


</ion-content>
