<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="light" text-center>{{ 'LOGIN_TITOLO' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">

    <div class="ion-padding-horizontal ion-text-center">
        <div class="logo"></div>
    </div>
    <!-- Logo -->


    <!-- Login form -->
    <form [formGroup]="loginFormModel" class="list-form">
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
                {{ 'USERNAME' | translate }}</ion-label>
            <ion-input color="secondary" type="email" formControlName="username"></ion-input>
        </ion-item>
        <p ion-text class="text08"
           *ngIf="loginFormModel.get('username').touched && loginFormModel.get('username').invalid">
            <ion-text color="danger">{{ 'USERNAME_RICHIESTO' | translate }}</ion-text>
        </p>
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
                {{ 'PASSWORD' | translate }}</ion-label>
            <ion-input color="secondary" type="password" formControlName="password"></ion-input>
        </ion-item>
        <p ion-text class="text08"
           *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
            <ion-text color="danger">{{ 'PASSWORD_RICHIESTA' | translate }}</ion-text>
        </p>
        <br>
        <div margin-top="20px">
            <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="onLogin()"
                        [disabled]="!loginFormModel.valid" tappable>
                <ion-icon name="log-in"></ion-icon>
                {{ 'ACCEDI' | translate }}
            </ion-button>

        </div>
    </form>
    <br>
    <ion-button icon-left size="medium" expand="full" shape="round" color="primary" [routerLink]="['registrazione']">
        {{ 'REGISTRATI' | translate }}
    </ion-button>
    <br>
    <ion-button size="medium" shape="round" expand="full" color="tertiary" (click)="indietro()" tappable>
        {{ 'BOTTONE_INDIETRO' | translate }}
    </ion-button>

</ion-content>
