<ion-header *ngIf="(negozio$ | async) as negozio">
    <ion-toolbar color="primary" mode="ios">
        <ion-title color="light"
                   *ngIf="(utente$ | async)?.negozio.id === negozio.id  ; else titoloNegozio"> {{'HOME_TAB' | translate}}</ion-title>
        <ng-template #titoloNegozio>
            <ion-title color="light">{{'NEGOZIO' | translate}}</ion-title>
        </ng-template>
        <ion-icon slot="start" name="arrow-back" (click)="tornaIndietro()" size="large" color="light"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(negozio$ | async) as negozio">
    <ion-card class="sc-ion-card-md-h">

        <ion-grid fixed="true">
            <ion-row justify-content-center>
                <ion-col align-self-center justify-content-center text-center>
                    <ion-text class="text17 font-6 " style="padding-left: 15%; vertical-align: middle;"
                              color="primary"><i>{{negozio.nome}}</i></ion-text>
                    <ion-item lines="none"*ngIf="(utente$ | async)?.negozio.id === negozio.id ; else bottonePreferenza "
                                (click)="modificaNegozio(negozio)" float-right>
                        <ion-icon name="more" ></ion-icon>
                    </ion-item>
                    <ng-template #bottonePreferenza>
                        <ion-item lines="none" (click)="preferito(negozio)" class="activated" float-right>
                            <ion-text>   {{negozio.preferenze }} </ion-text>
                            <ion-icon class="yellow" size="large"
                                      [name]="negozio.preferito ? 'star' :'star-outline'">
                            </ion-icon>

                        </ion-item>
                    </ng-template>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col size="5">
                    <ion-item lines="none">
                        <ion-thumbnail class="ion-radius-circle-big">
                            <img [src]="'data:image/png;base64,' + negozio.immagineprofilo " width="100%" height="100%"
                                 alt="Image"/>
                        </ion-thumbnail>
                    </ion-item>
                </ion-col>
                <ion-col size="7" align-self-center>
                    <ion-text class="text10"><p>  {{negozio.descrizione}}</p>
                        <p>{{negozio.via}}, {{negozio.citta}}</p></ion-text>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-segment>
        <ion-segment-button checked="true" (ionSelect)="cambioVista()">
            <ion-icon name="apps"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (ionSelect)="cambioVista()">
            <ion-icon name="reorder"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <div *ngIf="vistaGriglia === true">
        <ion-grid>
            <ion-row>
                <ion-col align-self-start size="4" class="frame-square"
                         *ngFor=" let notizia of notizie$ | async "
                         [routerLink]="['/tabs/notizie', notizia.id]" routerDirection="forward">
                    <img [src]="'data:image/png;base64,' + notizia.immagine " width="100%" height="100%"
                         alt="Image"/>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

    <div *ngIf="vistaGriglia === false">
        <ion-card *ngFor="let notizia of notizie$ | async" class="sc-ion-card-md-h"
                  [routerLink]="['/tabs/notizie', notizia.id]">
            <ion-item slot="start" class="ion-no-padding">
                <ion-thumbnail class="ion-radius-squared" slot="start">
                    <img [src]="'data:image/png;base64,' + notizia.immagine " width="100%" height="100%"
                         alt="Image"/>
                </ion-thumbnail>
                <ion-label>
                    <div class="data">
                        {{notizia.dataPubblicazione}}
                    </div>
                    <div class="piace">
                        {{notizia.numeroPiace}}
                        <ion-icon class="red" [name]="notizia.piace ? 'heart' :'heart-empty'"></ion-icon>
                    </div>
                    <div><h2>{{notizia.negozioResponse.nome}}</h2>
                        <p>  {{notizia.titolo}}</p></div>

                </ion-label>


            </ion-item>
        </ion-card>
    </div>

</ion-content>
