<ion-header>
    <ion-toolbar color="primary">
        <ion-title color="light" align="center"> {{"HOME_TAB" | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(negozio$ | async) as negozio">
    <ion-card class="sc-ion-card-md-h">
        <ion-card-title slot="center" text-center color="primary">
            <i>{{negozio.nome}}</i>
        </ion-card-title>



        <ion-grid fixed="true">
            <ion-row >
                <ion-col size="6">
                    <ion-item lines="none"><ion-thumbnail class="ion-radius-circle-big" slot="start">
                        <img [src]="'data:image/png;base64,' + negozio.immagineprofilo " width="100%" height="100%"
                             alt="Image"/>
                    </ion-thumbnail></ion-item>
                </ion-col>
                <ion-col>
                    <ion-button *ngIf="(utente$ | async)?.negozio.id === negozio.id "  float-right>
                        <ion-icon name="md-create"></ion-icon>
                    </ion-button>
                    <div >
                        <p>  {{negozio.preferenze}}
                            <ion-icon class="yellow" name="star"></ion-icon>
                        </p>
                        <p>  {{negozio.descrizione}}</p></div>


                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="posts" checked="true">
            <ion-icon name="apps"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="tagged">
            <ion-icon name="reorder"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <div *ngIf="vistaGriglia === true">
        <ion-grid>
            <ion-row>
                <ion-col align-self-start size="4" class="frame-square"
                         *ngFor=" let notizia of notizie$ | async "
                         [routerLink]="['/tabs/notizie', notizia.id]">
                    <img [src]="'data:image/png;base64,' + notizia.immagine " width="100%" height="100%"
                         alt="Image"/>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

    <div *ngIf="vistaGriglia === false">
        <ion-card *ngFor="let notizia of notizie$ | async" class="sc-ion-card-md-h"
                  [routerLink]="['/tabs/notizie', notizia.id]">
            <ion-item slot="start" class="ion-no-padding">
                <ion-thumbnail class="ion-radius-squared" slot="start">
                    <img [src]="'data:image/png;base64,' + notizia.immagine " width="100%" height="100%"
                         alt="Image"/>
                </ion-thumbnail>
                <ion-label>
                    <div class="data">
                        {{notizia.dataPubblicazione}}
                    </div>
                    <div class="piace">
                        {{notizia.numeroPiace}}
                        <ion-icon class="red" [name]="notizia.piace ? 'heart' :'heart-empty'"></ion-icon>
                    </div>
                    <div><h2>{{notizia.negozio.nome}}</h2>
                        <p>  {{notizia.titolo}}</p></div>

                </ion-label>


            </ion-item>
        </ion-card>
    </div>

</ion-content>
