<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-title>{{'PREFERITI_TAB' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let negozio of negozi$ | async" class="sc-ion-card-md-h"
              [routerLink]="['/tabs/notizie', negozio.id]">
        <ion-item slot="start" class="ion-no-padding">
            <ion-thumbnail class="ion-radius-squared" slot="start">
                <img src="../../../assets/images/{{negozio.immagineprofilo}}" alt="immagine">
            </ion-thumbnail>
            <ion-label>
                <div class="data">
                </div>
                <div class="piace">
                    <ion-icon class="red" [name]="negozio.preferito ? 'star' :'star-outline'"></ion-icon>
                </div>
                <div>
                    <h2>
                        <p>  {{negozio.nome}}</p></h2>
                </div>

            </ion-label>


        </ion-item>
    </ion-card>
</ion-content>
