<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-title>{{'PREFERITI_TAB' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let notizia of notizie$ | async" class="sc-ion-card-md-h"
              [routerLink]="['/tabs/notizie', notizia.id]">
        <ion-item slot="start" class="ion-no-padding">
            <ion-thumbnail class="ion-radius-squared" slot="start">
                <img src="../../../assets/images/{{notizia.immagine}}" alt="immagine">
            </ion-thumbnail>
            <ion-label>
                <div class="data">
                    {{notizia.dataPubblicazione}}
                </div>
                <div class="piace">
                    <ion-icon class="red" [name]="notizia.piace ? 'heart' :'heart-empty'"></ion-icon>
                </div>
                <div><h2>
                    <!--[routerLink]="['/tabs/negozio', notizia.pubblicatoDa.id]" -->   {{notizia.pubblicatoDa.nome}}</h2>
                    <p>  {{notizia.titolo}}</p></div>

            </ion-label>


        </ion-item>
    </ion-card>
</ion-content>
