<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-title>{{'PREFERITI_TAB' | translate}}</ion-title>
    </ion-toolbar>

    <ion-grid>
        <ion-row>
            <ion-col size="10">
                <ion-searchbar mode="ios" value="Cerca tra i preferiti"></ion-searchbar>
            </ion-col>
            <ion-col>
                <ion-buttons>
                    <ion-icon size="large" name="pin" id="icon-map"></ion-icon>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-thumbnail slot="start">
                <img src="../../../assets/images/Immagine.jpg">
            </ion-thumbnail>
            <a [routerLink]="['/tabs/negozio','Freeway']">
                Nome notizia
            </a>
            <ion-icon name="star" slot="end" ></ion-icon>
        </ion-item>

        <ion-card-content text-wrap [routerLink]="['/tabs/notizie','5555']">
            Descrizione dell notizia, Descrizione dell notizia Descrizione dell notiziaDescrizione dell notizia
            Descrizione dell notiziaDescrizione dell notiziaDescrizione dell notiziaDescrizione dell notizia
        </ion-card-content>
    </ion-card>

    <ion-card [routerLink]="['/tabs/notizie','55']" routerDirection="backward">
<h1>Card</h1>
    </ion-card>
    <ion-button [routerLink]="['/tabs/negozio','1111']" routerDirection="backward"> negozio</ion-button>
</ion-content>
