<ion-header>

      <ion-toolbar color="primary" text-center>
          <ion-buttons slot="start">
              <ion-back-button></ion-back-button>
          </ion-buttons>
        <ion-title>{{id}}</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>

            <ion-item>
                <ion-icon name="contact" slot="start"></ion-icon>
                <ion-card-title>{{notizia.pubblicatoDa}}</ion-card-title>
            </ion-item>



            <ion-img src="{{notizia.immagine}}"></ion-img>


            <ion-item href="#" class="activated">
                <ion-icon name="heart-empty" slot="end"></ion-icon>
            </ion-item>
<ion-text>
    <h3>{{notizia.nome}}</h3>
    <h4>{{notizia.descrizione}}</h4>
</ion-text>
</ion-content>
