<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-title>{{'NUOVA_NOTIZIA' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
    <ion-content>
        <form [formGroup]="notiziaFormModel">

            <ion-item no-padding class="animated fadeInUp" >
                <ion-label position="floating" color="primary">
                    &nbsp; {{ 'TITOLO' | translate }}</ion-label>
                <ion-input color="secondary" type="string"  formControlName="titolo"> </ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="notiziaFormModel.get('titolo').touched && notiziaFormModel.get('titolo').invalid">
                &nbsp;  <ion-text color="danger"> {{ 'TITOLO_RICHIESTO' | translate }} </ion-text>
            </p>


            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating"color="primary" >
                  &nbsp; {{ 'TESTO' | translate }}</ion-label>
                <ion-textarea color="secondary" type="string" formControlName="descrizione"> </ion-textarea>
            </ion-item>
            <p ion-text class="text08" *ngIf="notiziaFormModel.get('descrizione').touched && notiziaFormModel.get('descrizione').invalid">
                &nbsp; <ion-text color="danger">{{ 'TESTO_RICHIESTO' | translate }} </ion-text>
            </p>

            <p><img [src]="imageUrl"  style="width:200px; height:150px" align-items-center>
            <ion-input type="file" #Image accept="image/*" size="medium" shape="round" color="primary"
                       (change)="handleFileInput($event.target.files)" formControlName="immagine" text-center></ion-input>
            </p>
        </form>
        <br>

        <div margin-top="30px" align="center">

            <ion-button size="medium" shape="round" color="primary" (click)="onSubmit()" [disabled]="! notiziaFormModel.valid" tappable>
                {{ 'CONFERMA' | translate }}
            </ion-button>
            &nbsp;&nbsp;
            <ion-button size="medium" shape="round" color="primary" (click)="indietro()" [routerLink]="['/tabs/notizie']" tappable>
                {{ 'BOTTONE_INDIETRO' | translate }}
            </ion-button>
        </div>
    </ion-content>
