<ion-header class="headerNotizia">
    <ion-toolbar color="primary" text-center>
        <ion-title>ShopZone</ion-title>
    </ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col size="10">
                <ion-searchbar mode="ios" value="Cerca un negozio o un luogo"></ion-searchbar>
            </ion-col>
            <ion-col>
                <ion-buttons id="icon-map">
                    <ion-icon size="large" name="pin"></ion-icon>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>

    <ion-card >
        <ion-item>
            <ion-thumbnail slot="start">
                <img src="../../../assets/images/Immagine.jpg">
            </ion-thumbnail>
            <a [routerLink]="['/tabs/negozio','pagina negozio 1']">
                <h3>Nome negozio</h3>
            </a>
            <ion-icon name="heart" slot="end"></ion-icon>
        </ion-item>

        <ion-card-content text-wrap [routerLink]= "['/tabs/notizie','5555']">
            Descrizione dell notizia, Descrizione dell notizia Descrizione dell notiziaDescrizione dell notizia
            Descrizione dell notiziaDescrizione dell notiziaDescrizione dell notiziaDescrizione dell notizia
        </ion-card-content>
    </ion-card>

</ion-content>
