<ion-header>
    <ion-toolbar color="primary" text-center>
        <ion-title>{{'AGGIUNGI_NEGOZIO' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="negozioFormModel">
        <ion-list no-lines>
            <ion-item class="animated fadeInUp">
                <ion-label position="floating">{{ 'NOME_NEGOZIO' | translate }}</ion-label>
                <ion-input type="text" formControlName="nome"></ion-input>
            </ion-item>
            <p ion-text class="text08"
               *ngIf="negozioFormModel.get('nome').touched && negozioFormModel.get('nome').invalid">
                <ion-text color="danger">{{ 'NOME_RICHIESTO' | translate }} </ion-text>
            </p>

            <ion-item class="animated fadeInUp">
                <ion-label position="floating">{{ 'DESCRIZIONE_NEGOZIO' | translate }}</ion-label>
                <ion-input type="text" formControlName="descrizione"></ion-input>
            </ion-item>
            <p ion-text class="text08"
               *ngIf="negozioFormModel.get('descrizione').touched && negozioFormModel.get('descrizione').invalid">
                <ion-text color="danger">{{ 'DESCRIZIONE_RICHIESTA' | translate }} </ion-text>
            </p>

            <ion-item class="animated fadeInUp">
                <ion-label position="floating">{{ 'CITTA_NEGOZIO' | translate }}</ion-label>
                <ion-input type="text" formControlName="citta"></ion-input>
            </ion-item>
            <p ion-text class="text08"
               *ngIf="negozioFormModel.get('citta').touched && negozioFormModel.get('citta').invalid">
                <ion-text color="danger">{{ 'CITTA_RICHIESTA' | translate }} </ion-text>
            </p>

            <ion-item class="animated fadeInUp">
                <ion-label position="floating">{{ 'VIA_NEGOZIO' | translate }}</ion-label>
                <ion-input type="text" formControlName="via"></ion-input>
            </ion-item>
            <p ion-text class="text08"
               *ngIf="negozioFormModel.get('via').touched && negozioFormModel.get('via').invalid">
                <ion-text color="danger">{{ 'VIA_RICHIESTA' | translate }} </ion-text>
            </p>

            <p><img [src]="imageUrl"  style="width:200px; height:150px" align-items-center>
                <ion-input type="file" #Image accept="image/*" size="medium" shape="round" color="primary"
                           (change)="handleFileInput($event.target.files)" formControlName="immagineprofilo" text-center></ion-input>
            </p>
            <p ion-text class="text08"
               *ngIf="negozioFormModel.get('immagineprofilo').touched && negozioFormModel.get('immagineprofilo').invalid">
                <ion-text color="danger">{{ 'IMMAGINE_RICHIESTA' | translate }} </ion-text>
            </p>
        </ion-list>
        <div margin-top="30px" align="center">

            <ion-button size="medium" shape="round" color="primary"  [disabled]="! negozioFormModel.valid" (click)="onSubmit()" tappable>
                {{ 'BOTTONE_AGGIUNGI' | translate }}
            </ion-button>
            <!--<ion-button size="medium" shape="round" color="primary" (click)="homePage()" tappable>
                Prova
            </ion-button>!-->
            <ion-button size="medium" shape="round" color="primary" (click)="indietro()" tappable>
                {{ 'BOTTONE_INDIETRO' | translate }}
            </ion-button>
        </div>
    </form>
</ion-content>
