<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>Aggiungi Negozio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="negozioFormModel">
    <ion-list no-lines>
      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'NOME_NEGOZIO' | translate }}</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('nome').touched && negozioFormModel.get('nome').invalid">
        <ion-text color="danger">{{ 'NAME_REQUIRED' | translate }} </ion-text>
      </p>

      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'DESCRIZIONE_NEGOZIO' | translate }}</ion-label>
        <ion-input type="text" formControlName="descrizione"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('descrizione').touched && negozioFormModel.get('descrizione').invalid">
        <ion-text color="danger">{{ 'DESCRIZIONE_RICHIESTA' | translate }} </ion-text>
      </p>

      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'ORARIO_NEGOZIO' | translate }}</ion-label>
        <ion-input type="text" formControlName="orario"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('orario').touched && negozioFormModel.get('orario').invalid">
        <ion-text color="danger">{{ 'ORARIO_RICHIESTO' | translate }} </ion-text>
      </p>

      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'CATEGORIA_NEGOZIO' | translate }}</ion-label>
        <ion-input type="text" formControlName="categoria"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('categoria').touched && negozioFormModel.get('categoria').invalid">
        <ion-text color="danger">{{ 'CATEGORIA_RICHIESTA' | translate }} </ion-text>
      </p>

      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'GIORNI_NEGOZIO' | translate }}</ion-label>
        <ion-input type="text" formControlName="giorni"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('giorni').touched && negozioFormModel.get('giorni').invalid">
        <ion-text color="danger">{{ 'GIORNI_RICHIESTI' | translate }} </ion-text>
      </p>

      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'P.IVA_NEGOZIO' | translate }}</ion-label>
        <ion-input type="text" formControlName="piva"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('piva').touched && negozioFormModel.get('piva').invalid">
        <ion-text color="danger">{{ 'P.IVA_RICHIESTA' | translate }} </ion-text>
      </p>

      <ion-item class="animated fadeInUp">
      <ion-label position="floating">{{ 'IMMAGINE_NEGOZIO' | translate }}</ion-label>
      <ion-input type="text" formControlName="immagine"></ion-input>
    </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('immagine').touched && negozioFormModel.get('immagine').invalid">
        <ion-text color="danger">{{ 'IMMAGINE_RICHIESTA' | translate }} </ion-text>
      </p>

      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'LUOGO_NEGOZIO' | translate }}</ion-label>
        <ion-input type="text" formControlName="luogo"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="negozioFormModel.get('luogo').touched && negozioFormModel.get('luogo').invalid">
        <ion-text color="danger">{{ 'LUOGO_RICHIESTO' | translate }} </ion-text>
      </p>

    </ion-list>
    <div margin-top="30px" align="center">

  <ion-button size="medium" shape="round" color="primary" (click)="onSubmit()" tappable>
    Aggiungi
  </ion-button>
  <ion-button size="medium" shape="round" color="primary" (click)="cancel()" tappable>
    Cancella
  </ion-button>
    </div>
  </form>
</ion-content>
