// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

form{
  &.modificaPostform{
    padding: 0 3% 2% 3%;
    height: 90%;
    ion-grid{
      box-shadow: 0 4px 8px rgba(var(--ion-color-dark-rgb), 0.50);
      padding: 2% 2% 2% 2%;
      border-radius: 5%;
      height: 90%;
      border: 1px solid grey;

      .font-6{
        font-family: 'font-6', serif;
      }

      ion-row {
        &.text{
          padding: 2% 0 2% 0;
          border: 1px solid grey;
          height:50%;
          margin: 2% 2% 0 2%;
          ion-col{
            ion-textarea[type="text"]{
              text-align: justify;
            }
          }
        }
        &.button-bottom{
          border: none;
          height: 25%;
          padding: 10% 0 2% 0;
          margin: 0 2% 0 2%;
          ion-button{
            box-shadow:0 5px 8px rgba(var(--ion-color-dark-rgb), 0.25);
          }
        }
      }
      ion-row{
        padding: 2% 0 2% 0;
        margin: 0 2% 0 2%;
        text-align: center;
        border: 1px solid grey;
      }
    }
  }
}

ion-item {
  --ion-item-background: transparent;
}
ion-thumbnail{
  &.ion-radius-circle {
    --border-radius: 100% !important;
    border: 2px solid grey;
    min-width: 5rem;
    min-height: 5rem;
    img {
      max-width: 5rem;
      min-width: 5rem;
    }
  }
  &.ion-radius-squared{
    border-radius: 10%;
    border: 2px solid grey;
    overflow: hidden;
    min-width: 5rem;
    min-height: 5rem;
    img {
      max-width: 5rem;
      min-width: 5rem;
    }
  }
}
ion-img{
  &.ion-border-radius{
    border-radius: 5%;
    border: 1px solid grey;
    overflow: hidden;
  }
}

// backgrounds //
.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: var(--ion-color-light);
}

.bg-dark {
  background-color: var(--ion-color-dark);
}

.bg-primary {
  background-color: var(--ion-color-primary);
}

.bg-secondary {
  background-color: var(--ion-color-secondary);
}

.bg-tertiary {
  background-color: var(--ion-color-tertiary);
}

.bg-profile {
  background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
}

.bg-main {
  background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
}

// Helpers //
.w100 {
  width: 100%;
}

.bold,
.fw500 {
  font-weight: 500 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.text08 {
  font-size: .8rem;
}

.text1 {
  font-size: 1rem !important;
}

.text12 {
  font-size: 1.2rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: var(--ion-color-primary);
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.text-dark {
  color: var(--ion-color-dark);
}

// menu //
// Menu user profile
ion-toolbar.user-profile {

  .user-avatar {
    width: 68px;
    height: 68px;
  }

  .item-inner {
    border-width: 0;
  }
}

// Custom toolbar (overriding Shadow DOM)
ion-toolbar {
  &.ion-color-primary {
    --ion-color-base: linear-gradient(135deg, var(--ion-color-primary), var(--ion-color-primary)) !important;
  }
}

// Android card shadow
ion-card {
  &.sc-ion-card-md-h {
    box-shadow: 0 4px 8px rgba(var(--ion-color-dark-rgb), 0.50);
    ion-label{
      &.text-description{
        text-align: justify;
        color: var(--ion-color-primary);
        padding-left: 5%;
        padding-right: 5%;
      }
    }
    ion-item{
      a{
        color: #3880ff;
      }
      ion-grid, ion-col, ion-row{
        text-align: center;
        align-items: center;
        padding: 0 0 2% 0;
        &.header-card{
          padding-top: 0;
          padding-bottom: 0;
        }
        &.icon-heart-card{
          text-align: right;
          font-size: 1.6em;
        }
        &.icon-setting-card{
          text-align: left;
          font-size: 1.6em;
        }
      }
    }
  }
}

// style for auth pages
.auth-page {
  background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));

  .grid {
    padding: 0;

    .col {
      padding: 0;
    }
  }

  .btn-group {
    .button-ios,
    .button-md {
      border-radius: 0;

      &:first-of-type {
        border-radius: 2px 0 0 2px;
      }

      &:last-of-type {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .logo {
    width: 150px;
    height: 150px;
    margin: 20px auto 8px;
    border-radius: 10%;
    background: url("assets/logo/Immagine.jpg") no-repeat;
    background-size: 100%;
  }

  .auth-content {
    margin: 0 5%;

    .list-form {
      padding: 0;
      margin-bottom: 0;

      ion-item {
        background: none;
        padding: 0;

        &:first-child {
          border-top: none;
        }

        &:after {
          display: none;
        }

        ion-label {
          font-size: 1em;
          // color: var(--ion-color-primary);
        }

        input {
          // color: var(--ion-color-primary);
        }
      }
    }
  }
}

ion-fab {
  bottom: 28px;

  ion-fab-button {
    --box-shadow: none;
  }

}
#aggiunginegozio, #logout, #login{
  margin-top: 5%;
}
#icon-map{
  padding: 5% 5%;
}

ion-list{
  ion-item{
    margin-top: 5%;
    margin-bottom: 5%;
  }
}


ion-header {
  background-color: var(--ion-color-primary);
  border: transparent;

  ion-searchbar {
    color: white;
  }
}


.baseTab{
  margin-left: 12%;
  margin-right: 12%;
}
